* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    width: 1170px;
    margin: auto;
}
header {
    background-color: #5ca0f2;
     background-image:linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li {
    display: inline-block;
}
.nav-area li a {
     border: 1px solid black;
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
}
.nav-area li a:hover {
    background: white;
    color: #333;
}
.logo {
    float: left;
}
.logo img {
    width: 20%;
    padding: 20px;
}
.welcome-text {
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 10% 30%;
    font-size: 30px;
    text-align: center;
}

.welcome-text a {
    border: 1px solid black;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: black;
}
.welcome-text a:hover {
    background: white;
    color: #333;
}
