* {
    margin: 0;
    padding: 0;
}
body {
     font-family: arial;
}
.wrapper {
    width: 1170px;
    margin: auto;
}
header {
  background-color: #5ca0f2;
     background-image:linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);    height: 150vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}
.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li {
    display: inline-block;
}
.nav-area li a {
    border: 1px solid black;
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: arial;
    font-size: 16px;
    text-transform: uppercase;
}
.nav-area li a:hover {
    background: #5ca0f2;
    color: #333;
}
.logo {
    float: left;
}
.logo img {
    width: 20%;
    padding: 20px;
}

.main{display: inline-block;
 margin: 0%;

}
.card{
     width: 30%;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px; 
     margin: 9%;
    }

.image img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  
 }

.title{
  text-align: center;
  padding: 10px;
  
 }

h1{
  font-size: 20px;
 }

.des{
  padding: 10px;
  text-align: center;
  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button{
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}
button:hover{
  background-color:#5ca0f2;
  color: white;
  transition: .5s;
  cursor: pointer;
}