*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic; 	
}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://www.skymetweather.com/content/wp-content/uploads/2015/02/fsh-lodge-1-Cropped.jpg);
	height: 195vh;
	background-size: cover;
	background-position: center;
	}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
	
}
 
ul li{
	display: inline-block;
}


ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s ease;

}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.logo img{
float: left;
width: 85px;
height: auto;
margin-top: 10px;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    color: white;
    font-size: 30px;
    margin-left: 70px;
    position: absolute;
    top: 150%;
}

.para{
	color: white;
    font-size: 22px;
 
    position: auto;
    top: 100%;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: absolute;
  top: 20%;
  left: 12.5%;
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  top: 100%;
  width: 100%;
  height: auto;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}




.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}



